// Set your pallete colors using paletton.com
// At paletton choice less export and then find/replace to change from @ to $ 
//
// First color is main color of set.  next two are lighter shades, last two are darker shades

$color-primary-0: #275183;	
$color-primary-1: #CCE3FF;
$color-primary-2: #5E81AA;
$color-primary-3: #163C6A;
$color-primary-4: #06284F;

// $color-primary-1: black;

$color-secondary-1-0: #C8662F;	
$color-secondary-1-1: #FFDBC7;
$color-secondary-1-2: #FFB083;
$color-secondary-1-3: #A24917;
$color-secondary-1-4: #792C00;

$color-secondary-2-0: #1F8367;	
$color-secondary-2-1: #C7FFF0;
$color-secondary-2-2: #58AA94;
$color-secondary-2-3: #0F6A51;
$color-secondary-2-4: #004F3A;

$color-complement-0: #C88D2F;	
$color-complement-1: #FFE9C7;
$color-complement-2: #FFCF83;
$color-complement-3: #A26C17;
$color-complement-4: #794A00;


// Set default colors for website based on pallete above.  This can be adjusted to suit

$body-color: $color-primary-0;
$default-textcolor: black; //default text color for all text
$default-color: $color-primary-1;  // default background color for all content
$fig-bd-color: $color-secondary-2-4;   // border around figures
$fig-caption-color:$color-secondary-2-1; // background for caption
$border-color: $color-complement-4;
$header-bg-color:$color-primary-2;


//Navigation

$topbar-bg-color: $color-primary-4;  // background color for top navigation
$topbar-link-bg-hover:$color-primary-2;   //hover color for menu


// Follow are inhertied colors from elements above
// can set these directly if desired
$body-textcolor:$default-textcolor;

// These control the background color for the table and even rows
$table-bg: $default-color;
$table-even-row-bg: $table-bg;

// These control the table cell border style
$table-border-size: 0px;
$table-border-color: $table-bg;

// These control the table head styles
$table-head-bg: $table-bg;
