
<!-- <table>
  <thead>
    <tr>
      <th width="120"></th>
      <th width="200"></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Author:</td>
      <td>{{ .Params.author }}</td>
    </tr>
     <tr>
      <td>Content-Editor:</td>
      <td>{{ .Params.editor }}</td>
    </tr>
     <tr>
      <td>Layout-Editor:</td>
      <td>{{ .Params.layouteditor }}</td>
    </tr>
  </tbody>
</table> -->
<div id=credits >
 <p>Author:&nbsp&nbsp{{ .Params.author }}</p>
  <p>Content-Editor:&nbsp&nbsp{{ .Params.editor }}</p>
 <p> Layout-Editor:&nbsp&nbsp{{ .Params.layouteditor }}</p>
  </div>
