<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Site.Title}}-{{.Title}}</title>
    <link rel="stylesheet" href="/fonts/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="/framework/css/sitestyle.css" />
    <script src="/framework/js/modernizr.js"></script>
    <link rel="shortcut icon" href="img/favicon.png">
<!-- meta tag for google translate -->
    <meta name="google-translate-customization" content="547864937e4c0f82-a3092200f991b289-g2f1dc28292800d23-15">
 <!-- meta tag for facebook comments moderators -->    
    <meta property="og:type"   content="website" />  
    <meta property="fb:app_id" content="854576037959722" />




    </meta>
<!-- Google anayltics tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50806102-2', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body>

<!-- Facebook Comments Script - moderator not working
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=854576037959722";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->


<!-- TOP NAVIGATION -->

<div class="fixed contain-to-grid">

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://www.healthwrights.org">Healthwrights</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>


    </ul> 

    <section class="top-bar-section"> 
 
    <!-- Right Nav Section --> 
    <ul class="right"> 

    <li>
    <a href="http://www.healthwrights.org">Home</a>
    </li>

    <li class="divider"></li>
    
    <li> <!-- google translate dropdown -->
        <div id="google_translate_element"></div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </li>

    </ul>

    </section> 
    </nav>
    </div>

    <!-- End Topbar -->

    <div class="header row">
      <div class="large-6 large-centered columns text-center">
        <img src="http://images.healthwrights.org/graphics%2FHW-header-text-600.png">
      </div>
      </div>

<!-- End Header -->

<section class="main-section">

     <div class="row">
     <div class="large-12 columns">
     <div class="panel">
     <!-- content goes here -->
    